/* นำเข้าฟอนต์ */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wdth,wght@87.5,300&family=Noto+Sans:wdth,wght@87.5,350&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Noto Sans Thai", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* กำหนดฟอนต์สำหรับ Ant Design และ MUI */
.ant-input,
.ant-select-selector,
.ant-btn,
.MuiTypography-root,
.MuiButton-root,
.MuiInputBase-root
.font-noto-sans-thai {
    font-family: 'Noto Sans', 'Noto Sans Thai', sans-serif !important;
}
